@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-3 py-1 mx-1 shadow-sm transition ease-in-out duration-300 rounded leading-snug whitespace-nowrap text-base font-semibold;
}


.btn-primary {
  @apply text-white bg-blue-500;
}

button {
  @apply btn btn-primary;
}

section {
  display: flex;
}

section>div {
  border: 2px solid gray;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}

input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

input:focus {
  @apply outline-none border-b-2 border-b-red-300
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-weight: bolder;
}


.panel-light,
.panel-dark {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
}

.panel-light {
  color: #222;
  background: #fff;
}

.panel-dark {
  color: #fff;
  background: rgb(23, 32, 42);
}

.button-light,
.button-dark {
  border: 1px solid #777;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.button-dark {
  background: #222;
  color: #fff;
}

.button-light {
  background: #fff;
  color: #222;
}